<div class="admin_order_container">
  <h3>주문관리</h3>
  <table class="order_table">
    <tr>
      <th>Number</th>
      <th>주문 번호</th>
      <th>상품명</th>
      <th>현재 상태</th>
    </tr>
    <tr>
      <td>1</td>
      <td>123123123</td>
      <td>키보드</td>
      <td>
        <select name="order_status" id="">
          <option value="결제 완료" selected>결제 완료</option>
          <option value="배송 준비중">배송 준비중</option>
          <option value="배송중">배송중</option>
          <option value="배송 완료">배송 완료</option>
        </select>
      </td>
    </tr>
  </table>
</div>
