<%- include("../mypage/myPageLnb") %>
<div class="admin_order_container">
  <h3>회원관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>회원 아이디</th>
          <th>이름</th>
          <th>연락처</th>
          <th>주소</th>
          <th>블랙리스트</th>
        </tr>
      </thead>
      <tbody id="memberList"></tbody>
    </table>
  </div>
</div>

<script src="js/admin/adminMember.js"></script>
