<div class="admin_order_container">
  <h3>주문관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>주문 번호</th>
          <th>상품명</th>
          <th>회원번호</th>
          <th>받는분</th>
          <th>배송지</th>
          <th>연락처</th>
          <th>현재 상태</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td>1</td>
          <td>{{ order_id }}</td>
          <td>{{ item_name }}</td>
          <td>{{ user_id }}</td>
          <td>{{ name }}</td>
          <td>{{ address }}</td>
          <td>{{ item_name }}</td>
          <td>
            <select name="order_status" id="">
              <option value="결제 완료" selected>결제 완료</option>
              <option value="배송 준비중">배송 준비중</option>
              <option value="배송중">배송중</option>
              <option value="배송 완료">배송 완료</option>
            </select>
          </td>
        </tr>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td>2</td>
          <td>{{ order_id }}</td>
          <td>{{ item_name }}</td>
          <td>{{ user_id }}</td>
          <td>{{ name }}</td>
          <td>{{ address }}</td>
          <td>{{ item_name }}</td>
          <td>
            <select name="order_status" id="">
              <option value="결제 완료" selected>결제 완료</option>
              <option value="배송 준비중">배송 준비중</option>
              <option value="배송중">배송중</option>
              <option value="배송 완료">배송 완료</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <script src="js/admin.js"></script> -->
