<%- include("../mypage/myPageLnb") %>
<div class="admin_order_container">
  <h3>주문관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>주문 번호</th>
          <th>상품명</th>
          <th>회원번호</th>
          <th>받는분</th>
          <th>배송지</th>
          <th>연락처</th>
          <th>현재 상태</th>
        </tr>
      </thead>
      <tbody id="adminOrderList"></tbody>
    </table>
  </div>
</div>

<script src="js/admin/adminOrder.js"></script>
