<%- include("../mypage/myPageLnb") %>
<div class="admin_order_container">
  <h3>매출관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>주문 번호</th>
          <th>아이디</th>
          <th>구매 가격</th>
          <th>상품명</th>
          <th>주문일</th>
          <th>구매확정일</th>
        </tr>
      </thead>
      <tbody id="salesList"></tbody>
    </table>
  </div>
</div>

<script src="js/admin/salesAmount.js"></script>
