<div class="admin_order_container">
  <h3>매출관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>주문 번호</th>
          <th>아이디</th>
          <th>구매 가격</th>
          <th>상품명</th>
          <th>주문일</th>
          <th>구매확정일</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td>1</td>
          <td>{{ orderId }}</td>
          <td>{{ order_price }}</td>
          <td>{{ user_id }}</td>
          <td>{{ item_name }}</td>
          <td>{{ createdAt }}</td>
          <td>{{ updatedAt }}</td>
        </tr>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td>2</td>
          <td>{{ orderId }}</td>
          <td>{{ order_price }}</td>
          <td>{{ user_id }}</td>
          <td>{{ item_name }}</td>
          <td>{{ createdAt }}</td>
          <td>{{ updatedAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <script src="js/admin.js"></script> -->
