<div class="admin_order_container">
  <h3>상품관리</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>상품명</th>
          <th>상품 단가</th>
          <th>카테고리</th>
          <th>판매 상태</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td>{{ item_id }}</td>
          <td>{{ item_name }}</td>
          <td>{{ price }}</td>
          <td>{{ category }}</td>
          <td>{{ item_status }}</td>
          <td>
            <p
              class="btnbtnbtn"
              style="
                width: 50px;
                top: 20px;
                border: 1px solid black;
                border-radius: 5px;
                background: yellow;
                text-align: center;
              "
              onmouseover="colorchange()"
              onmouseleave="colorchange2()"
              onclick="location.href='/itemdetail'"
            >
              수정
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- <script src="js/admin.js"></script> -->
<script>
  function colorchange() {
    $('.btnbtnbtn').css('background', 'white');
  }
  function colorchange2() {
    $('.btnbtnbtn').css('background', 'yellow');
  }
</script>
