<script src="/js/admin/register.js"></script>

<div class="container">
  <h2>상품 등록</h2>

  <div class="input-group mb-3">
    <span class="input-group-text">상품이름</span>
    <input
      type="text"
      class="form-control"
      id="item_name"
      placeholder="상품 이름"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      required
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">카테고리</span>
    <input
      type="text"
      class="form-control"
      id="category"
      placeholder="카테고리"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      required
    />
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">가격</span>
    <input
      type="text"
      class="form-control"
      id="price"
      placeholder="가격"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      required
    />
  </div>

  <div class="input-group mb-3">
    <input type="file" class="form-control" id="imageUrl" required />
    <label class="input-group-text" for="imageUrl">Upload</label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">제품 설명</span>
    <input
      type="text"
      class="form-control"
      id="detail"
      placeholder="설명을 기입하세요."
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
      required
    />
  </div>

  <!-- 상품 등록 버튼 -->
  <button class="btn btn-primary btn-lg" type="button">상품 등록하기</button>
  <!-- 상품 등록 버튼 끝 -->
</div>
<!-- 입력 폼 끝 -->
