<!-- <script src="/js/admin/itemregister.js"></script> -->

<!-- 전체 양식: https://codepen.io/RajRajeshDn/pen/QWwypRy -->
<div class="wrapper">
  <div class="title">Edit Form</div>
  <div class="form">
    <div class="inputfield">
      <label>상품 이름</label>
      <input type="text" class="input" />
    </div>
    <div class="inputfield">
      <label>상품 사진</label>
      <input type="file" id="img" name="img" class="input" />
    </div>
    <div class="inputfield">
      <label>가격</label>
      <input type="text" class="input" />
    </div>
    <div class="inputfield">
      <label>카테고리</label>
      <!-- <div class="custom_select">
          <select>
            <option value="">Select</option>
            <option value="office">office</option>
            <option value="design">design</option>
            <option value="developer">developer</option>
            <option value="music">music</option>
            <option value="sports">sports</option>
          </select>
        </div> -->
    </div>
    <!-- 체크박스: https://codepen.io/tutsplus/pen/bgqYJz -->
    <div class="inputfield">
      <input type="checkbox" id="c1" name="cc" />
      <label for="c1"><span></span>office</label>
      <input type="checkbox" id="c2" name="cc" />
      <label for="c2"><span></span>design</label>
      <input type="checkbox" id="c3" name="cc" />
      <label for="c3"><span></span>developer</label>
      <input type="checkbox" id="c4" name="cc" />
      <label for="c4"><span></span>music</label>
      <input type="checkbox" id="c5" name="cc" />
      <label for="c5"><span></span>sports</label>
    </div>
    <div class="inputfield">
      <input type="radio" id="r1" name="rr" />
      <label for="r1"><span></span>판매 중</label>
      <p>
        <input type="radio" id="r2" name="rr" />
        <label for="r2"><span></span>일시 품절</label>
      </p>
    </div>

    <div class="inputfield">
      <label>제품 설명</label>
      <input type="text" class="input" />
    </div>
    <div class="inputfield">
      <input type="submit" value="save" class="btn" />
    </div>
  </div>
</div>
