<script src="/js/admin/itemregister.js"></script>

<!-- 전체 양식: https://codepen.io/RajRajeshDn/pen/QWwypRy -->
<div class="wrapper">
  <div class="title">Registration Form</div>
  <div class="form" id="item_form">
    <!-- 체크박스: https://codepen.io/tutsplus/pen/bgqYJz -->
    <div class="inputfield">
      <input type="checkbox" id="c1" name="cc" />
      <label for="c1"><span></span>office</label>
      <input type="checkbox" id="c2" name="cc" />
      <label for="c2"><span></span>design</label>
      <input type="checkbox" id="c3" name="cc" />
      <label for="c3"><span></span>develop</label>
      <input type="checkbox" id="c4" name="cc" />
      <label for="c4"><span></span>music</label>
      <input type="checkbox" id="c5" name="cc" />
      <label for="c5"><span></span>sports</label>
    </div>
    <div class="inputfield">
      <label>상품명</label>
      <input type="text" class="input" />
    </div>
    <div class="inputfield">
      <label>상품 사진</label>
      <input type="file" id="img" name="img" class="input" />
    </div>
    <div class="inputfield">
      <label>상품 단가</label>
      <input type="text" class="input" />
    </div>

    <div class="inputfield">
      <label>상품 설명</label>
      <input type="text" class="input" />
    </div>
    <div class="inputfield">
      <input onclick="itemRequest()" type="button" value="save" class="btn" />
    </div>
    <div id="itemList"></div>
  </div>
</div>
