<div class="detail_wrap">
	<div class="detail_img"></div>
	<div class="info">
		<div style="HEIGHT: 50px">상품명 : </div>
		<div style="HEIGHT: 50px">가격 : </div>
		<div style="HEIGHT: 50px">상품 상세 설명 : </div>
	</div>
</div>
</div>
<div class="bt_wrap">
	<button><a href="/">장바구니</a></button>
</div>