<div class="detail_wrap">
  <div class="info" id="info"></div>
</div>

<script>
  const id = window.location.pathname.split('/')[2];

  fetch(`http://localhost:4000/api/item/${id}`)
    .then((response) => response.json())
    .then(({ data }) => {
      console.log('✨✨✨', 'data: ', data, '✨✨✨');
      const row = `
          ${
            data.img
              ? `<div class="detail_img"><img src="./images/${data.img}" /></div>`
              : ''
          }
          <div class='item_detail_wrap'>
					<div class="item_id"><span>제품번호 :</span> ${data.itemId}</div>
        	<div><span>상품명 : </span>${data.item_name}</div>
					<div class="price"><span>가격 : </span>${data.price.toLocaleString()}</div>
					<div><span>상품 설명 : </span>${data.detail}</div>
          <div class="bt_wrap">
          <button class="addCart-btn" onclick="createCart()"><a href="/usercartlist">장바구니 담기</a></button>
          </div></div>
        `;
      const $info = document.getElementById('info');
      $info.innerHTML = row;
      document.getElementById('info').appendChild($info);
      // const tr1 = document.createElement('div');
      // tr1.innerHTML = row;
      // document.getElementById('info').appendChild(tr1);
    });
</script>
<script src="js/user/userWishList.js"></script>
