<div class="detail_wrap">
  <div class="info" id="info"></div>
</div>
<div class="bt_wrap">
  <button onclick="createCart()"><a href="/usercartlist">장바구니</a></button>
</div>

<script>
  const id = window.location.pathname.split('/')[2];

  fetch(`http://localhost:4000/api/item/${id}`)
    .then((response) => response.json())
    .then(({ data }) => {
      console.log('✨✨✨', 'data: ', data, '✨✨✨');
      const row = `
          ${
            data.img
              ? `<div class="detail_img"><img src="./images/${data.img}" /></div>`
              : ''
          }
					<div class="item_id"">제품번호 : ${data.itemId}</div>
        	<div">상품명 : ${data.item_name}</div>
					<div class="price"">가격 : ${data.price.toLocaleString()}</div>
					<div">상품 설명 : ${data.detail}</div>
        `;
      const $info = document.getElementById('info');
      $info.innerHTML = row;
      document.getElementById('info').appendChild($info);
      // const tr1 = document.createElement('div');
      // tr1.innerHTML = row;
      // document.getElementById('info').appendChild(tr1);
    });
</script>
<script src="js/user/userWishList.js"></script>
