<div class="detail_wrap">
	<div class="detail_img"></div>
	<div class="info">
		<div style="HEIGHT: 50px">상품명 : </div>
		<div style="HEIGHT: 50px">가격 : </div>
		<div style="HEIGHT: 50px">상품 상세 설명 : </div>
	</div>
	<form action="" style="margin-left:10px;margin-top:10px">
		<span>구매수량</span>
		<input style="HEIGHT: 20px" onclick="javascript:this.form.count.value--;mul('minus')" type="button" value="-">
		<input type="text" name="count" value="1" id="count" min="1">
		<input style="HEIGHT: 20px" onclick="javascript:this.form.count.value++;mul('plus')" type="button" value="+">
	</form>
</div>
</div>
<div class="bt_wrap">
	<button><a href="/">장바구니</a></button>
	<button><a href="/">바로 구매하기</a></button>
</div>