<div class="main-container">
  <div class="main-img"></div>
  <div class="main-item-title">New Arrival</div>
  <div class="main-itmes space-around">
    <div class="main-item1"></div>
    <div class="main-item2"></div>
    <div class="main-item3"></div>
    <div class="main-item4"></div>
    <div class="main-item5"></div>
  </div>
</div>

<div class="board__parent" id="feed"></div>
<div class="paging" id="pagination"></div>
<script>
  let query = window.location.search;
  let param = new URLSearchParams(query);
  let page = Number(param.get('page'));

  if (!page || page === 1) {
  fetch(`http://localhost:4000/api/item/`)
    .then((response) => response.json())
    .then((data) => {
      for (let i = 0; i < data.data.length; i++) {
        const producsHtml = data.data.map(item => `
        <a class="board" href="/itemDetail/${item.itemId}">
        ${item.img ? `<div class="content__thumbnail"><img src="./images/${item.img}" /></div>` : ""}
        <!-- 여기서부터 content 제품명, 가격 -->
        <div class="content__text">
          <div class="content__title">상품명 : ${item.item_name}</div>
          <div class="content__price">가격 : ${item.price}</div>
        </div>
        </a>`)
        document.getElementById('feed').innerHTML = producsHtml.join("")
        }

    const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=2">2</a>
            <a class="link_page" href="/?page=3">3</a>
            <a class="link_page" href="/?page=4">...</a>
            <a class="link_page" href="/?page=${data.pageInfo.lastPage}">${data.pageInfo.lastPage}</a>
            `;

        const a = document.createElement('a');
        a.innerHTML = pages;
        document.getElementById('pagination').appendChild(a);
      });
  } else {
    fetch(`http://localhost:4000/api/item?page=${page}`)
      .then((response) => response.json())
      .then((data) => {
        for (let i = 0; i < data.data.length; i++) {
          const producsHtml = data.data.map(item => `
        <a class="board" href="/itemDetail/${item.itemId}">
        ${item.img ? `<div class="content__thumbnail"><img src="./images/${item.img}" /></div>` : ""}
        <!-- 여기서부터 content 제품명, 가격 -->
        <div class="content__text">
          <div class="content__title">상품명 : ${item.item_name}</div>
          <div class="content__price">가격 : ${item.price}</div>
        </div>
        </a>`)
        document.getElementById('feed').innerHTML = producsHtml.join("")
        }

        if (page === 3) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=2">2</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            <a class="link_page" href="/?page=4">4</a>
            <a class="link_page" href="/?page=4">...</a>
            <a class="link_page" href="/?page=${data.pageInfo.lastPage}">${data.pageInfo.lastPage}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          document.getElementById('pagination').appendChild(a);
        } else if (page === data.lastPage) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=${page - 2}">...</a>
            <a class="link_page" href="/?page=${page - 1}">${page - 1}</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          return document.getElementById('pagination').appendChild(a);
        } else if (page === data.lastPage - 1) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=${page - 2}">...</a>
            <a class="link_page" href="/?page=${page - 1}">${page - 1}</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          return document.getElementById('pagination').appendChild(a);
        } else if (page === data.lastPage - 2) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=${page - 2}">...</a>
            <a class="link_page" href="/?page=${page - 1}">${page - 1}</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          return document.getElementById('pagination').appendChild(a);
        } else if (page < 3) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            <a class="link_page" href="/?page=3">3</a>
            <a class="link_page" href="/?page=4">...</a>
            <a class="link_page" href="/?page=${data.pageInfo.lastPage}">${data.pageInfo.lastPage}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          return document.getElementById('pagination').appendChild(a);
        } else if (page > 3) {
          const pages = `
            <a class="link_page" href="/?page=1">1</a>
            <a class="link_page" href="/?page=${page - 2}">...</a>
            <a class="link_page" href="/?page=${page - 1}">${page - 1}</a>
            <a class="link_page" href="/?page=${page}">${page}</a>
            <a class="link_page" href="/?page=${page + 1}">${page + 1}</a>
            <a class="link_page" href="/?page=${page + 2}">...</a>
            <a class="link_page" href="/?page=${data.pageInfo.lastPage}">${data.pageInfo.lastPage}</a>
            `;
          const a = document.createElement('a');
          a.innerHTML = pages;
          return document.getElementById('pagination').appendChild(a);
        }      
      });
  };
</script>