<div class="board__parent" id="feed">
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
  <a class="board" href="/itemDetail/">
    <div class="content__thumbnail"></div>
    <!-- 여기서부터 content 제품명, 가격 -->
    <div class="content__text">
      <div class="content__title">제품명</div>
      <div class="content__price">가격</div>
    </div>
  </a>
</div>
