<div class="board__parent" id="feed"></div>

<script>
  fetch(`http://localhost:4000/api/item/category/music`)
    .then((response) => response.json())
    .then((data) => {
      const producsHtml = data.data.map(
        (item) => `
      <a class="board" href="/itemDetail/${item.itemId}">
        ${
          item.img
            ? `<div class="content__thumbnail"><img src="./images/${item.img}" /></div>`
            : ''
        }
        <!-- 여기서부터 content 제품명, 가격 -->
        <div class="content__text">
          <div class="content__title">${item.item_name}</div>
          <div class="content__price">${item.price.toLocaleString()}</div>
        </div>
      </a>`
      );
      document.getElementById('feed').innerHTML = producsHtml.join('');
    });
</script>
