<script src="/js/chat.js"></script>
<div id="main">
  <div id="chat">
    <!-- 채팅 메시지 영역 -->
  </div>
  <div id="abc">
    <input type="text" id="test" placeholder="메시지를 입력해주세요..">
    <button onclick="send()" id="chatbtn">전송</button>
  </div>
</div>