<header>
  <div class="header_wrap">
    <a href="/"><h1>일아쌰이마쎄</h1></a>
    <ul class="gnb">
      <a href="http://localhost:4000/office"><li class="office">Office</li></a>
      <a href="http://localhost:4000/design"><li class="design">Design</li></a>
      <a href="http://localhost:4000/developer"
        ><li class="developer">Developer</li></a
      >
      <a href="http://localhost:4000/music"><li class="music">Music</li></a>
      <a href="http://localhost:4000/sports"><li class="sports">Sports</li></a>
    </ul>
    <ul class="member_wrap"></ul>
    <p id="user_point"></p>
  </div>
  <script src="/js/header.js"></script>
</header>
<a href="http://localhost:4000/chat"><div class="chat_fixed">상담하기</div></a>
