<div class="sign_wrap">
  <div class="register_wrap sign-up-wrap">
    <h2 class='register-signup'>회원가입</h2>
    
    <input
      type="text"
      name="email"
      id="email"
      placeholder="이메일"
    />

    <input
      type="text"
      name="name"
      id="name"
      placeholder="성함"
    />

    <input
      type="text"
      name="address"
      id="address"
      placeholder="주소"
    />

    <input
      type="text"
      name="phone_number"
      id="phone_number"
      placeholder="전화번호"
    />

    <input
      type="password"
      name="password"
      id="password"
      placeholder="비밀번호"
    />

    <input
      type="button"
      name="login_button"
      class="user_signup"
      onclick="signup_user()"
      value="회원가입 하기"
    />

  </div>
</div>

    <script src="/js/signup.js"></script>
  </form>
</body>
