<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사무용품 쇼핑몰</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="static/css/reset.css" />
    <link rel="stylesheet" href="static/css/header.css" />
  </head>
  <body>
    <header>
      <div class="header_wrap">
        <a href="index.ejs"><h1>일아쌰이마쎄</h1></a>
        <ul class="gnb">
          <a href=""><li class="office">Office</li></a>
          <a href=""><li class="design">Design</li></a>
          <a href=""><li class="developer">Developer</li></a>
          <a href=""><li class="music">Music</li></a>
          <a href=""><li class="sports">Sports</li></a>
        </ul>
        <p class="user_point">잔여 포인트 : 1,000,000</p>
      </div>
    </header>

    <main></main>
  </body>
</html>
