<div class="main-container">
  <div class="items">
    <div class="item active">
      <img src="./images/apple_acc.jpg" />
    </div>
    <div class="item next">
      <img src="./images/galaxy_unpack.jpg" />
    </div>
    <div class="item prev">
      <img src="./images/logitech_keyboard.jpg" />
    </div>
    <div class="button-container">
      <div class="button"><i class="fas fa-angle-left"></i></div>
      <div class="button"><i class="fas fa-angle-right"></i></div>
    </div>
  </div>
</div>
<div class="new_arrival">
  <div class="main-item-title">New Arrival</div>
  <div class="main-itmes space-around">
    <div class="main-item1"></div>
    <div class="main-item2"></div>
    <div class="main-item3"></div>
    <div class="main-item4"></div>
    <div class="main-item5"></div>
  </div>
</div>

<script>
  const slider = document.querySelector(".items");
  const slides = document.querySelectorAll(".item");
  const button = document.querySelectorAll(".button");

  let current = 0;
  let prev = 2;
  let next = 1;

  for (let i = 0; i < button.length; i++) {
    button[i].addEventListener("click", () =>
      i == 0 ? gotoPrev() : gotoNext()
    );
  }

  const gotoPrev = () =>
    current > 0 ? gotoNum(current - 1) : gotoNum(slides.length - 1);

  const gotoNext = () => (current < 2 ? gotoNum(current + 1) : gotoNum(0));

  const gotoNum = (number) => {
    current = number;
    prev = current - 1;
    next = current + 1;

    for (let i = 0; i < slides.length; i++) {
      slides[i].classList.remove("active");
      slides[i].classList.remove("prev");
      slides[i].classList.remove("next");
    }

    if (next == 3) {
      next = 0;
    }

    if (prev == -1) {
      prev = 2;
    }

    slides[current].classList.add("active");
    slides[prev].classList.add("prev");
    slides[next].classList.add("next");
  };
</script>
