@import url("_variables.css");
@import url("reset.css");

.main-container{
	width: 1500px;
	margin: 20px auto;
}

.main-img{
	width: 1500px;
	height: 500px;
	margin:auto;
	background-color: green;
}

.main-item-title{
	text-align : center;
	padding : 20px 0;
	font-size: 2.0em;
	font-weight: bold;
}

.main-itmes{
	width: 1500px;
	height: 220px;
	display: flex;
	padding: 10px;
	margin: auto;
}

.main-itmes.space-around{justify-content: space-around;}

.main-item1{
	width: 190px;
	height: 190px;
	margin: auto;
	color: black;
	font-size: 36px;
	text-align: center;
	background-image: url(../images/맥북\ 에어.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 190px;
}

.main-item2{
	width: 190px;
	height: 190px;
	margin: auto;
	color: black;
	font-size: 36px;
	text-align: center;
	background-image: url(../images/모니터\ 받침대.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 190px;
}

.main-item3{
	width: 190px;
	height: 190px;
	margin: auto;
	color: black;
	font-size: 36px;
	text-align: center;
	background-image: url(../images/바디\ 체중계.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 190px;
}

.main-item4{
	width: 190px;
	height: 190px;
	margin: auto;
	color: black;
	font-size: 36px;
	text-align: center;
	background-image: url(../images/바이올린\ 교본.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 190px;
}

.main-item5{
	width: 190px;
	height: 190px;
	margin: auto;
	color: black;
	font-size: 36px;
	text-align: center;
	background-image: url(../images/후드티.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 190px;
}

@import url('https://rsms.me/inter/inter-ui.css');


.container {
  display: inline-block;
  position: relative;
}
.index {
  cursor: pointer;
  display: inline;
  margin-right: 30px;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
}
.index:last-child {
  margin: 0;
}
svg {
  left: -13px;
  position: absolute;
  top: -11px;
  transition: transform 500ms;
  width: 46px;
}
path {
  fill:none;
  stroke:#2FB468;
  stroke-dasharray: 150 150;
  stroke-width:15;
}
.container.open:not(.flip) path {
  animation: OpenRight 500ms;
}
.container.open.flip path {
  animation: OpenLeft 500ms;
}
.container.i1 svg {
  transform: translateX(0);
}
.container.i2 svg {
  transform: translateX(50px);
}
.container.i3 svg {
  transform: translateX(102px);
}
.container.i4 svg {
  transform: translateX(154px);
}
.container.i5 svg {
  transform: translateX(206px);
}
@keyframes OpenRight {
  25% { stroke-dasharray: 100 150; }
  60% { stroke-dasharray: 100 150; }
  100% { stroke-dasharray: 150 150; }
}
@keyframes OpenLeft {
  25% { stroke-dashoffset: -50px; }
  60% { stroke-dashoffset: -50px; }
  100% { stroke-dashoffset: 0; }
}

.paging {
	width: 200px;
	margin: auto;
}