<div id="white-bg">
  <div class="btn btn-danger" onclick="closeModal()" id="close">
    <a href="#">close</a>
  </div>
  <div class="order_title"><h1>주문 하기</h1></div>
  <div class="order_name">
    <input id="order_name" type="text" placeholder="이름을 입력해주세요." />
  </div>
  <div class="order_phone_number">
    <input
      id="order_phone_number"
      type="text"
      placeholder="전화번호를 입력해주세요."
    />
  </div>
  <div class="order_address">
    <input id="order_address" type="text" placeholder="주소를 입력해주세요." />
  </div>
</div>
<script src="/js/user/modal.js"></script>
