<div class="admin_order_container">
  <h3>위시 리스트</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>상품 번호</th>
          <th>상품 이미지</th>
          <th>주문 날짜</th>
          <th>상품 명</th>
          <th>상태</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td></td>
          <td>{{ orderId }}</td>
          <td>
            <img class="order_item_image" src="/images/keyboard.jpeg" />
          </td>
          <td>{{ createdAt }}</td>
          <td>{{ item_name }}</td>
          <td>{{ status }}</td>
          <td>{{ order_price }}</td>
        </tr>
        <tr
          ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse"
        >
          <td></td>
          <td>{{ orderId }}</td>
          <td>
            <img class="order_item_image" src="/images/keyboard.jpeg" />
          </td>
          <td>{{ createdAt }}</td>
          <td>{{ item_name }}</td>
          <td>{{ status }}</td>
          <td>{{ order_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <script src="js/admin.js"></script> -->
