<div class="admin_order_container">
  <h3>위시 리스트</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th></th>
          <th>상품 번호</th>
          <th>상품 이미지</th>
          <th>상품 명</th>
          <th>가격</th>
        </tr>
      </thead>
      <tbody id="cart_list"></tbody>
    </table>
  </div>
</div>
<script src="js/user/userWishList.js"></script>
