<%- include("../mypage/myPageUser") %>
<div class="admin_order_container">
  <h3>주문 배송 내역</h3>
  <div class="table_container">
    <table>
      <thead>
        <tr class="tr_title">
          <th>주문 번호</th>
          <th>상품 이미지</th>
          <th>상품 명</th>
          <th>가격</th>
          <th>상태</th>
          <th>주문 날짜</th>
        </tr>
      </thead>
      <tbody id="order_list"></tbody>
    </table>
  </div>
</div>
<script src="/js/user/userOrderList.js"></script>
