<h2 class="user_order_h2">주문 배송 내역</h2>
<div class="user_order_list_page">
  <div class="order_card">
    <div class="order_card_inner">
      <div class="order_image">
        <img src="/images/keyboard.jpeg" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">2022-12-13</p>
          <h5 class="card-title">상품 명</h5>
          <p class="card-text">상태 : 배송 준비 중</p>
          <p class="card-text">가격 : 200000</p>
        </div>
      </div>
    </div>
  </div>
</div>
