<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::: 로그인 :::</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/sign.css" />
    <script src="./static/js/login.js"></script>
  </head>
  <body>
    <div class="sign_wrap">
      <div class="register_wrap">
        <h2>로그인</h2>

        <input type="text" name="nickname" id="nickname" placeholder="닉네임" />
        <input type="password" name="password" id="password" placeholder="비밀번호" />

        <ul class="user_type">
          <li class="user_login" onclick="login_user()">사용자 로그인</li>
          <li class="shop_login" onclick="login_shop()">사업자 로그인</li>
        </ul>
        <input type="button" name="signup_button" onclick="register()" value="회원가입하기" />
      </div>
    </div>
  </body>
</html>