<div class="lnb_wrapper">
  <h2 class="lnb_title">Mypage</h2>
  <ul class="lnb">
    <a href="http://localhost:4000/adminOrder"
      ><li class="admin_order active">주문관리</li></a
    >
    <a href="http://localhost:4000/adminItem"
      ><li class="admin_item">상품관리</li></a
    >
    <a href="http://localhost:4000/adminMember"
      ><li class="admin_member">회원관리</li></a
    >
    <a href="http://localhost:4000/adminSales"
      ><li class="admin_sales">매출관리</li></a
    >
  </ul>
</div>

<script src="js/mypage/navigationBar.js"></script>
