<div class="sign_wrap">
  <div class="register_wrap">
    <h2 class='user_update'></h2>

    <input
      type="text"
      name="name"
      id="name"
      placeholder="성함"
    />

    <input
      type="text"
      name="address"
      id="address"
      placeholder="주소"
    />

    <input
      type="text"
      name="phone_number"
      id="phone_number"
      placeholder="전화번호"
    />

    <input
      type="text"
      name="currentPassword"
      id="currentPassword"
      placeholder="현재 비밀번호"
    />

    <input
      type="text"
      name="newPassword"
      id="newPassword"
      placeholder="새로운 비밀번호"
    />

    <input
      type="text"
      name="confirmedPassword"
      id="confirmedPassword"
      placeholder="새로운 비밀번호 확인"
    />

    <input
      type="button"
      name="login_button"
      class="user_signup"
      onclick="update_user()"
      value="회원정보 수정 하기"
    />

  </div>
</div>

    <script src="/js/mypage/userUpdate.js"></script>
  </form>
</body>
